pyrogram
tgcrypto
pytgcalls
yt-dlp
openai
flask
telethon
youtube_dl
ffmpeg
python-telegram-bot
youtube-search
youtube-search-python
pyrofork
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypt
